html,
body {
    margin: 0px;
    overflow-x: hidden;
}

header .background {
    position: relative;
    width: 100%;
    height: 1055px;
    background: url(/images/Bitmap.png);
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
}

header .logo {
    width: 167.016px;
    height: 29.461px;
    position: absolute;
    align-items: center;
    top: 35.02px;
    right: 1105.47px;
    bottom: 924.52px;
    left: 175.67px;
    width: 167.016px;
    height: 29.461px;
    z-index: 2;
}

.cover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 1055px;
    justify-content: center;
    gap: 52px;
    background: radial-gradient(85.90% 85.90% at 50.00% 10%, rgba(41, 48, 61, 0.00) 0%, #071629 100%);
    background-blend-mode: normal, color;
}

.link1 {
    position: absolute;
    right: 353.08px;
    left: 1045.08px;
    top: 35.02px;
    bottom: 937px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.link2 {
    position: absolute;
    right: 256.08px;
    left: 1147.08px;
    top: 35.02px;
    bottom: 937px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.link3 {
    position: absolute;
    right: 169.08px;
    left: 1245.08px;
    top: 35.02px;
    bottom: 937px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.slogan {
    position: absolute;
    white-space: nowrap;
    top: 154px;
    right: 381.08px;
    bottom: 722px;
    left: 383.08px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.k_word1 {
    position: absolute;
    width: 52px;
    height: 20px;
    top: 380px;
    right: 814px;
    left: 587px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.k_word2 {
    position: absolute;
    width: 52px;
    height: 20px;
    top: 380px;
    right: 704px;
    left: 698px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.k_word3 {
    position: absolute;
    width: 52px;
    height: 20px;
    top: 380px;
    right: 598px;
    left: 809px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn_primary {
    position: absolute;
    width: 162px;
    height: 44px;
    top: 452px;
    left: 643px;
    right: 643;
    color: white;
    border-radius: 22px;
    background: #C271FF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    box-shadow: 0px 0px 12px #071629;
    cursor: pointer;
}

.phrase {
    position: absolute;
    top: 631px;
    right: 563px;
    bottom: 318px;
    left: 608px;
    white-space: nowrap;
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.first_word {
    color: #C271FF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.phillip_img {
    position: absolute;
    top: 758px;
    right: 1077px;
    left: 221px;
    border-radius: 100%;
}

.phillip_name {
    position: absolute;
    width: 150px;
    top: 901px;
    right: 1041xp;
    left: 221px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 27px;
}

.phillip_info {
    position: absolute;
    width: 150px;
    top: 938px;
    right: 1041px;
    left: 221px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
}

.nannie_img {
    position: absolute;
    top: 758px;
    right: 588px;
    left: 510px;
    border-radius: 100%;
}

.nannie_name {
    position: absolute;
    width: 150px;
    top: 901px;
    right: 784px;
    left: 506px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 27px;
}

.nannie_info {
    position: absolute;
    width: 150px;
    top: 938px;
    right: 784px;
    left: 506px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
}

.bruce_img {
    position: absolute;
    top: 758px;
    right: 507px;
    left: 791px;
    border-radius: 100%;
}

.bruce_name {
    position: absolute;
    width: 150px;
    top: 901px;
    right: 501px;
    left: 792px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 27px;
}

.bruce_info {
    position: absolute;
    width: 150px;
    top: 938px;
    right: 499px;
    left: 791px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
}

.henry_img {
    position: absolute;
    top: 758px;
    right: 216px;
    left: 1076px;
    border-radius: 100%;
}

.henry_name {
    position: absolute;
    width: 150px;
    top: 901px;
    right: 214px;
    left: 1076px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 27px;
}

.henry_info {
    position: absolute;
    width: 150px;
    top: 938px;
    right: 214px;
    left: 1076px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
}

.quote {
    width: 100%;
    height: 392px;
    background: #C271FF;
}

.quote_img {
    position: relative;
    top: 108px;
    right: 1020px;
    left: 260px;
    border-radius: 100%;
}

.quote_text {
    position: absolute;
    top: 1163px;
    right: 238px;
    left: 472px;
}

blockquote {
    margin: 0;
}

cite {
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px;
}

.quote_name {
    margin: 22px 0px 0px;
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.6px;
}

.quote_job {
    margin-top: 6px;
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 33.6px;
}

.tutorials {
    width: 100%;
    height: 600px;
    background-color: white;
}

.tutorials_title {
    position: absolute;
    top: 1506px;
    right: 558px;
    left: 588px;
    white-space: nowrap;
    color: #071629;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.second_word {
    color: #C271FF;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.video1 {
    position: relative;
    top: 202px;
    right: 1021px;
    left: 164px;
}

.diagonal_img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.play1 {
    position: absolute;
    top: 45px;
    left: 95px;
    z-index: 2;
}

.diagonal_title {
    position: absolute;
    top: 1820px;
    right: 1157px;
    left: 177px;
    white-space: nowrap;
    color: #071629;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.diagonal_text {
    width: 242px;
    position: absolute;
    top: 1846px;
    right: 1021px;
    left: 177px;
    color: rgba(7, 22, 41, 0.50);
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.phillip_channel_img1 {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 1915px;
    left: 177px;
    right: 1233px;
    border-radius: 100%;
}

.phillip_channel_name1 {
    position: absolute;
    top: 1903px;
    right: 1134px;
    left: 220px;
    white-space: nowrap;
    color: #C271FF;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.stars1 {
    position: absolute;
    top: 1959px;
    right: 1156px;
    left: 177px;
}

.video_duration1 {
    position: absolute;
    margin: 0;
    top: 1953px;
    right: 1043px;
    left: 363px;
    white-space: nowrap;
    color: #C271FF;
    text-align: right;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.video2 {
    position: relative;
    top: 202px;
    right: 735px;
    left: 450px;
}

.sad_img {
    position: absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    top: 0;
    left: 0;
    z-index: 1;
}

.play2 {
    position: absolute;
    top: 45px;
    left: 95px;
    z-index: 2;
}

.sad_title {
    position: absolute;
    top: 1820px;
    right: 907px;
    left: 463px;
    white-space: nowrap;
    color: #071629;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sad_text {
    width: 242px;
    position: absolute;
    top: 1846px;
    right: 735px;
    left: 463px;
    color: rgba(7, 22, 41, 0.50);
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.phillip_channel_img2 {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 1915px;
    right: 947px;
    left: 463px;
    border-radius: 100%;
}

.phillip_channel_name2 {
    position: absolute;
    top: 1903px;
    right: 848px;
    left: 506px;
    white-space: nowrap;
    color: #C271FF;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.stars2 {
    position: absolute;
    top: 1959px;
    right: 870px;
    left: 463px;
}

.video_duration2 {
    position: absolute;
    margin: 0;
    top: 1953px;
    right: 757px;
    left: 649px;
    white-space: nowrap;
    color: #C271FF;
    text-align: right;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.video3 {
    position: relative;
    top: 202px;
    right: 450px;
    left: 735px;
}

.natural_img {
    position: absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    top: 0;
    left: 0;
    z-index: 1;
}

.play3 {
    position: absolute;
    top: 45px;
    left: 95px;
    z-index: 2;
}

.natural_title {
    position: absolute;
    top: 1820px;
    right: 595px;
    left: 748px;
    white-space: nowrap;
    color: #071629;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.natural_text {
    width: 242px;
    position: absolute;
    top: 1846px;
    right: 495px;
    left: 748px;
    color: rgba(7, 22, 41, 0.50);
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.phillip_channel_img3 {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 1915px;
    right: 662px;
    left: 748px;
    border-radius: 100%;
}

.phillip_channel_name3 {
    position: absolute;
    top: 1903px;
    right: 563px;
    left: 791px;
    white-space: nowrap;
    color: #C271FF;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.stars3 {
    position: absolute;
    top: 1959px;
    right: 585px;
    left: 748px;
}

.video_duration3 {
    position: absolute;
    margin: 0;
    top: 1953px;
    right: 472px;
    left: 934px;
    white-space: nowrap;
    color: #C271FF;
    text-align: right;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.video4 {
    position: relative;
    top: 202px;
    right: 165px;
    left: 1020px;
}

.happy_img {
    position: absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    top: 0;
    left: 0;
    z-index: 1;
}

.play4 {
    position: absolute;
    top: 45px;
    left: 95px;
    z-index: 2;
}

.happy_title {
    position: absolute;
    top: 1820px;
    right: 318px;
    left: 1033px;
    white-space: nowrap;
    color: #071629;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.happy_text {
    width: 242px;
    position: absolute;
    top: 1846px;
    right: 165px;
    left: 1033px;
    color: rgba(7, 22, 41, 0.50);
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.phillip_channel_img4 {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 1915px;
    right: 377px;
    left: 1033px;
    border-radius: 100%;
}

.phillip_channel_name4 {
    position: absolute;
    top: 1903px;
    right: 278px;
    left: 1076px;
    white-space: nowrap;
    color: #C271FF;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.stars4 {
    position: absolute;
    top: 1959px;
    right: 300px;
    left: 1033px;
}

.video_duration4 {
    position: absolute;
    margin: 0;
    top: 1953px;
    right: 187px;
    left: 1219px;
    white-space: nowrap;
    color: #C271FF;
    text-align: right;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
}

.membership {
    width: 100%;
    height: 502px;
    background: #071629;
}

.membership_title {
    position: relative;
    top: 70px;
    right: 589px;
    bottom: 392;
    left: 617px;
    white-space: nowrap;
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.icon1 {
    position: relative;
    top: 102px;
    right: 1126px;
    bottom: 299px;
    left: 270px;
}

.membership_name1 {
    position: relative;
    margin: 0;
    width: 256px;
    top: 125px;
    right: 1019px;
    bottom: 246px;
    left: 164px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}

.membership_text1 {
    position: relative;
    margin-right: 0;
    width: 212px;
    top: 123px;
    right: 1042px;
    bottom: 181px;
    left: 184px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.icon2 {
    position: absolute;
    top: 2242px;
    right: 841px;
    left: 554px;
}

.membership_name2 {
    position: absolute;
    top: 2290px;
    right: 718px;
    left: 521px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}

.membership_text2 {
    position: absolute;
    top: 2329px;
    right: 672px;
    left: 472px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.icon3 {
    position: absolute;
    top: 2242px;
    right: 557px;
    left: 840px;
}

.membership_name3 {
    position: absolute;
    top: 2290px;
    right: 413px;
    left: 786px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}

.membership_text3 {
    position: absolute;
    top: 2329px;
    right: 390px;
    left: 760px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.icon4 {
    position: absolute;
    top: 2242px;
    right: 270px;
    left: 1125px;
}

.membership_name4 {
    position: absolute;
    top: 2290px;
    right: 128px;
    left: 1072px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}

.membership_text4 {
    position: absolute;
    top: 2329px;
    right: 104px;
    left: 1046px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.membership_btn {
    position: absolute;
    width: 162px;
    height: 44px;
    top: 2481px;
    right: 646px;
    left: 640px;
    border-radius: 22px;
    background: #C271FF;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    box-shadow: 0px 0px 12px #071629;
}

.faq_section {
    width: 100%;
    height: 707px;
    background: white;
}

.faq_title {
    position: absolute;
    top: 2594px;
    right: 648px;
    left: 656px;
    color: #071629;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.faq_subtitle1 {
    position: absolute;
    top: 2780px;
    right: 1046px;
    left: 249px;
    color: #071629;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
}

.faq_text1 {
    position: absolute;
    top: 2830px;
    right: 746px;
    left: 249px;
    color: rgba(7, 22, 41, 0.50);
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.faq_subtitle2 {
    position: absolute;
    top: 2780px;
    right: 476px;
    left: 819px;
    color: #071629;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
}

.faq_text2 {
    position: absolute;
    top: 2830px;
    right: 178px;
    left: 819px;
    color: rgba(7, 22, 41, 0.50);
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.faq_subtitle3 {
    position: absolute;
    top: 3096px;
    right: 1046px;
    left: 249px;
    color: #071629;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
}

.faq_text3 {
    position: absolute;
    top: 3146px;
    right: 746px;
    left: 249px;
    color: rgba(7, 22, 41, 0.50);
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.faq_subtitle4 {
    position: absolute;
    top: 3096px;
    right: 476px;
    left: 819px;
    color: #071629;
    font-family: Source Sans Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
}

.faq_text4 {
    position: absolute;
    top: 3146px;
    right: 178px;
    bottom: 47px;
    left: 819px;
    color: rgba(7, 22, 41, 0.50);
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

footer {
    width: 100%;
    height: 249px;
    background: #071629;
}